In [5]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [18]:
train_df = pd.read_csv("working_data/trial_promo_training.csv")
test_df = pd.read_csv("working_data/trial_promo_testing.csv")

In [19]:
features_to_scale = ["age", "income", "avbal", "avtrans"]
min_max_scaler = preprocessing.MinMaxScaler()
train_df[features_to_scale] = min_max_scaler.fit_transform(train_df[features_to_scale])

train_df.head()

ValueError: Expected 2D array, got 1D array instead:
array=[51.4  20.5  52.02 25.79 27.43 33.99 27.97 30.18 55.76 70.67 27.97 39.85
 26.23 23.99 39.05 46.98 46.27 37.61 63.93 57.12 70.83 49.03 70.66 32.28
 47.2  66.15 39.32 36.81 49.74 21.75 69.09 26.66 45.32 50.04 44.25 31.38
 44.21 47.8  40.81 53.99 63.63 51.85 35.06 50.42 23.67 66.82 32.14 48.1
 57.57 24.71 61.49 40.37 27.01 50.18 66.09 52.36 39.78 42.16 68.85 32.37
 27.41 60.49 49.04 55.98 65.7  39.36 49.02 67.27 30.81 44.42 44.25 64.38
 28.   45.45 38.35 25.05 26.66 40.03 49.69 35.22 40.35 58.66 28.16 44.97
 31.88 28.72 23.84 60.17 33.3  59.45 50.85 22.22 28.04 34.21 45.82 43.03
 51.94 53.2  37.51 67.78 20.05 42.45 27.85 40.01 62.13 42.3  30.49 51.92
 64.73 43.12 45.81 27.63 39.13 39.97 25.34 66.36 25.13 44.86 33.52 25.66
 40.08 41.92 36.25 20.   38.03 44.45 72.44 43.42 69.45 47.5  40.39 43.52
 35.71 69.61 29.22 61.14 19.96 20.2  25.53 39.04 38.33 47.04 39.45 34.
 34.95 29.54 57.07 25.89 48.47 39.86 43.13 27.79 28.07 59.83 41.41 23.39
 51.6  27.98 56.01 35.31 27.89 26.78 27.89 47.48 38.95 23.07 38.96 24.11
 31.73 20.73 18.92 19.69 37.71 65.66 24.72 36.26 54.59 43.03 28.   56.92
 49.66 45.28 28.27 26.77 53.2  34.09 33.37 26.6  28.   52.79 36.71 41.38
 54.5  39.76 28.01 23.23 74.32 20.91 40.04 69.84 59.99 43.92 40.   40.55
 36.61 27.94 63.38 33.61 41.04 43.51 39.71 47.89 57.29 21.53 27.66 36.86
 28.25 35.05 44.65 36.11 40.   25.93 36.28 55.84 37.44 35.43 32.81 58.67
 27.84 47.56 27.05 39.63 38.63 40.28 24.13 68.16 25.39 39.62 22.09 60.04
 45.63 59.76 44.36 41.63 47.78 37.32 29.76 27.84 38.74 24.42 20.28 68.51
 58.67 21.77 40.66 44.83 49.47 39.96 56.82 24.35 37.92 28.04 69.43 39.51
 35.58 49.52 36.28 44.59 39.98 50.24 47.09 56.88 36.42 20.46 50.27 34.96
 72.76 34.82 25.4  41.27 57.84 39.89 39.99 27.87 35.85 56.46 51.41 44.81
 46.83 45.16 39.69 70.46 42.51 78.11 27.22 31.26 37.94 49.28 26.81 60.78
 27.56 28.05 47.54 37.34 44.73 39.96 43.63 65.63 55.58 57.88 59.92 62.99
 64.89 57.12 50.84 32.03 30.84 34.93 27.43 49.66 32.63 33.18 39.97 71.75
 45.04 26.41 60.   40.91 34.62 66.41 26.46 59.44 39.98 56.38 65.09 37.83
 18.13 36.29 39.95 30.93 22.37 23.83 45.42 24.83 47.55 26.59 69.15 41.34
 38.32 27.59 29.13 40.26 25.82 29.99 41.72 25.77 27.18 27.91 56.83 49.11
 59.56 39.5  47.58 46.15 59.65 38.21 53.59 28.9  28.   72.92 70.02 38.11
 86.8  24.35 59.34 59.06 45.57 43.1  43.06 59.63 44.92 47.75 23.55 28.32
 39.2  40.02 38.82 58.98 32.64 45.12 65.19 67.8  59.72 52.64 57.46 51.22
 35.93 25.1  40.   45.23 32.12 47.65 31.98 37.02 22.16 28.25 41.86 42.09
 37.81 23.64 41.15 30.93 31.23 20.06 36.27 35.48 39.8  87.35 46.15 49.75
 31.41 31.57 38.99 26.91 26.73 41.63 55.56 24.41 23.23 47.14 51.17 79.38
 40.02 63.52 25.83 37.98 45.17 42.04 45.59 30.93 56.51 81.56 19.48 20.56
 72.76 35.73 39.79 28.   45.33 31.86 31.11 18.86 32.22 31.69 60.02 29.71
 43.19 63.23 40.29 29.04 35.34 79.78 39.73 25.08 48.39 49.38 69.45 32.18
 44.99 19.42 50.55 58.83 39.94 45.   27.51 38.14 21.5  72.92 25.82 22.84
 24.41 28.   37.84 62.1  19.16 27.59 40.17 24.03 39.47 45.87 25.22 72.47
 61.78 61.93 39.9  47.35 39.76 35.62 73.59 39.18 65.93 36.83 58.26 41.43
 28.07 36.46 46.89 36.61 22.62 51.65 67.1  60.39 38.52 80.8  28.74 46.62
 22.19 30.62 28.03 38.09 40.   25.93 42.64 28.32 37.95 31.73 29.59 38.89
 81.65 24.62 59.97 36.61 23.21 42.44 43.9  32.67 59.95 28.66 52.27 27.96
 39.54 32.84 50.13 30.24 42.65 39.15 46.44 30.45 68.78 58.36 26.86 24.32
 43.44 39.95 65.3  48.01 39.76 21.23 41.02 30.66 42.3  21.01 20.93 28.86
 34.14 39.88 68.84 28.75 20.13 63.37 45.64 43.98 69.84 26.9  45.48 26.6
 41.94 34.5  40.52 28.15 35.82 51.88 70.1  58.72 55.1  47.29 45.12 55.73
 51.84 36.16 44.72 22.13 25.17 39.2  49.01 40.96 61.92 43.35 27.52 41.66
 30.27 85.45 49.97 85.5  59.57 25.43 28.38 23.14 39.82 40.04 27.47 28.
 49.42 53.5  24.83 25.53 64.84 39.8  28.17 39.52 35.5  58.69 40.01 28.
 36.8  29.68 26.64 28.13 65.3  31.46 25.64 21.38 57.43 39.84 22.43 52.02
 32.48 37.37 44.88 29.01 26.59 30.46 48.5  28.58 48.96 20.94 44.25 31.35
 50.11 25.31 32.64 22.11 23.36 49.55 21.82 39.39 20.06 28.53 58.15 50.23
 32.82 59.99 31.28 36.18 20.05 61.79 23.88 38.76 48.92 45.01 59.59 45.18
 48.56 78.21 32.66 60.44 22.37 27.49 51.91 26.73 26.59 28.09 18.71 38.99
 67.02 43.33 32.7  44.99 18.05 64.11 44.82 40.87 37.47 47.58 25.63 40.69
 32.96 68.91 62.6  28.77 45.57 40.2  20.   19.33 41.38 21.62 37.27 39.45
 62.28 39.2  27.95 45.01 34.44 38.8  39.63 33.72 23.56 27.85 35.65 66.64
 27.37 32.6  55.76 28.36 45.27 24.84 33.04 53.6  65.52 59.71 40.15 41.77
 55.07 23.65 40.87 31.68 71.11 57.22 51.02 34.21 38.53 40.83 40.   36.61
 31.46 60.12 41.74 30.98 34.23 45.85].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [17]:
X_train = train_df.loc[:, train_df.columns != "decision"]
y_train = train_df["decision"].replace("None", 0).replace("A", 1).replace("B", 2)
X_train.head()

,age,income,avbal,avtrans,sexNum,mstatusNum,occupationNum,educationNum,childrenNum,sex_F,...,occupation_retired,education_postgrad,education_professional,education_secondary,education_tertiary,children_0,children_1,children_2,children_3,children_4
0,0.694301,-0.713177,-0.068324,0.547857,0,1,6,0,2,1,...,0,1,0,0,0,0,0,1,0,0
1,-1.466174,-0.713177,-0.068324,0.547857,1,2,1,2,0,0,...,0,0,0,1,0,1,0,0,0,0
2,0.737650,-1.267439,-0.178102,-0.509414,0,1,0,2,0,1,...,0,0,0,1,0,1,0,0,0,0
3,-1.096306,-0.713177,-0.068324,0.547857,1,1,1,2,0,0,...,0,0,0,1,0,1,0,0,0,0
4,-0.981640,-0.273744,-0.155999,-0.589653,1,2,2,3,0,0,...,0,0,0,0,1,1,0,0,0,0

In [9]:
y_train.head()

0    0
1    0
2    0
3    1
4    0
Name: decision, dtype: int64

In [10]:
test_df["age"] = preprocessing.scale(test_df["age"])
test_df["income"] = preprocessing.scale(test_df["income"])
test_df["avbal"] = preprocessing.scale(test_df["avbal"])
test_df["avtrans"] = preprocessing.scale(test_df["avtrans"])
test_df.head()

X_test = test_df.loc[:, test_df.columns != "decision"]
y_test = test_df["decision"].replace("None", 0).replace("A", 1).replace("B", 2)
X_test.head()

,age,income,avbal,avtrans,sexNum,mstatusNum,occupationNum,educationNum,childrenNum,sex_F,...,occupation_retired,education_postgrad,education_professional,education_secondary,education_tertiary,children_0,children_1,children_2,children_3,children_4
0,1.694579,-1.055675,-1.348957,-0.814692,0,1,8,2,0,1,...,1,0,0,1,0,1,0,0,0,0
1,-1.051218,-1.009078,-0.330144,-0.691148,1,2,4,2,0,0,...,0,0,0,1,0,1,0,0,0,0
2,0.771610,0.222033,0.308487,-0.877786,0,0,0,3,2,1,...,0,0,0,0,1,0,0,1,0,0
3,-1.007801,0.487620,-0.646084,0.815205,0,2,3,3,0,1,...,0,0,0,0,1,1,0,0,0,0
4,0.340238,1.711120,-0.340193,1.348488,0,0,6,1,0,1,...,0,0,1,0,0,1,0,0,0,0

### Neural network

In [11]:
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [12]:
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
clf.fit(X_train, y_train)


y_test_pred = clf.predict(X_test)
print(confusion_matrix(y_test, y_test_pred, labels=[0, 1, 2]))
print(accuracy_score(y_test, y_test_pred))

[[207   0   0]
 [ 33   0   0]
 [ 10   0   0]]
0.828

In [13]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=2, random_state=42, n_estimators=1000)
clf.fit(X_train, y_train)

y_test_pred = clf.predict(X_test)
print(confusion_matrix(y_test, y_test_pred, labels=[0, 1, 2]))
print(accuracy_score(y_test, y_test_pred))

[[207   0   0]
 [ 33   0   0]
 [ 10   0   0]]
0.828